{% extends 'base.html' %}
{% include 'navigation-bar.html' %}

{% block body %}
    
<div>
    <h1>Список производства</h1>
    
    <table>
        <thead>
            <tr>
                <th>ID</th>
                <th>Продукт</th>
                <th>Количество</th>
                <th>Дата</th>
                <th>Сотрудник</th>
            </tr>
        </thead>
    
        <tbody>
            {% for production in productions %}
                <tr>
                    <td>{{ production.id }}</td>
                    <td>{{ production.product }}</td>
                    <td>{{ production.amount }}</td>
                    <td>{{ production.date }}</td>
                    <td>{{ production.employee }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

    <div>
        <strong>
            <a href="{% url 'production:create' %}">Создать новую запись</a>
        </strong>
    </div>

</div>
    
{% endblock %}