{% extends 'base.html' %}
{% load filters %}

{% include 'navigation-bar.html' %}

{% block body %}

<div>

    <style>
        
        h1 {
            text-align: center;
        }

        ul {
            list-style-type: none;
            padding: 0;
            text-align: center;
        }

        li {
            display: inline-block;
            margin: 0 15px;
        }

        a {
            text-decoration: none;
            color: #333;
            font-weight: bold;
            font-size: 18px;
        }
    </style>

    <h1>Главная страница</h1>
    
    <ul>
        {% if user|has_permission:"employees.view_employee" %}
            <li><a href="{% url 'employees:index' %}">Сотрудники</a></li>
        {% endif %}
    
        {% if user|has_permission:"ingredients.view_ingredient" %}
            <li><a href="{% url 'ingredients:index' %}">Ингредиенты</a></li>
        {% endif %}
        
        {% if user|has_permission:"materials.view_material" %}
            <li><a href="{% url 'materials:index' %}">Сырье</a></li>
        {% endif %}
        
        {% if user|has_permission:"procurements.view_procurement" %}
            <li><a href="{% url 'procurements:index' %}">Закупки сырья</a></li>
        {% endif %}
    
        {% if user|has_permission:"products.view_product" %}
            <li><a href="{% url 'products:index' %}">Готовая продукция</a></li>
        {% endif %}
    
        {% if user|has_permission:"production.view_production" %}
            <li><a href="{% url 'production:index' %}">Производство продукции</a></li>
        {% endif %}
    
        {% if user|has_permission:"sales.view_sale" %}
            <li><a href="{% url 'sales:index' %}">Продажа продукции</a></li>
        {% endif %}
    
        {% if user|has_permission:"employees.view_salary" %}
            <li><a href="{% url 'employees:salary-index' %}">Заработная плата</a></li>
        {% endif %}

    
        {% if user|has_permission:"bank.view_payment" %}
            <li><a href="{% url 'bank:index' %}">Банк</a></li>
        {% endif %}
    </ul>
    
</div>

{% endblock %}
