{% load static %}
<link rel="stylesheet" href="{% static 'css/styles.css' %}">

<div class="navbar">
    <div class="left-text">
            <a class="navbar-title" href="{% url 'main:index' %}">Учет материальных и финансовых средств</a>
    </div>

    {% if request.user.is_authenticated %}
        <div class="center-text">
            <strong>
                Бюджет: {{ budget.budget }} сом | Наценка: {{ budget.percent }}% | Бонус: {{ budget.bonus }}
            </strong>
        </div>

        <div class="right-text">
            <strong>
                Приветствую, {{ request.user }} 
                <form action="{% url 'employees:logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                 <button type="submit">Выйти</button>
                </form>
            </strong>
        </div>

    {% else %}
        <div class="center-text"></div>
        <div class="right-text">
            <strong>
                <a class="navbar-title" href="{% url 'employees:login' %}">Войдите</a>
            </strong>
        </div>
    {% endif %}
</div>