{% extends 'base.html' %}
{% include 'navigation-bar.html' %}

{% block body %}
    
<div>

    {% if messages %}
        <ul class="messages">
            {% for message in messages %}
                <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
        {% endfor %}
        </ul>
    {% endif %}

    <h1>Заработная плата сотрудников</h1>

    {% include 'employees/year-month-select-form.html' %}
    {% include 'employees/salary-table.html' %}

    {% if is_period_selected %}

    <strong>
        Общая сумма к выдаче: {{ total_sum }} | 
        {% if not is_issued %}
            <a href="{% url 'employees:salary-issue' %}">Выдать всем</a>
        {% else %}
            Зарплата за выбранный период уже выдана всем сотрудникам
        {% endif %}

        <div>
            <a href="{% url 'employees:salary-report' %}">Отчет</a>
        </div>
    
    </strong>

    {% endif %}

</div>

{% endblock %}
