{% extends 'base.html' %}

{% block body %}
    {% include 'date-form.html' %}

    {% if procurements %}
        <h2>Список закупок по заданным датам</h2>

        {% include 'procurements/procurements-table.html' %}

        <form action="{% url 'procurements:generate-report' %}" method="POST">
            {% csrf_token %}
            <button type="submit">Сгенерировать отчет в Word</button>
        </form>
    {% else %}
        <h2>В заданном интервале нет закупок</h2>
    {% endif %}

{% endblock %}