{% extends 'base.html' %}

{% block body %}

<div>
    <h1>Список ингредиентов</h1>
        <form method="POST" id="ingredients-form">
            {% csrf_token %}
            <label for="product">Выберите продукт:</label>
            <select name="product" id="product">
                <option value="" {% if not selected_product %}selected {% endif %} disabled>Выберите продукт</option>
            
            {% for product in products %}
                <option value="{{ product.0 }}" {% if product.0 == selected_product %}selected{% endif %}>
                    {{ product.1 }}
                </option>
            {% endfor %}
            
        </select>

        </form>

    <table>
        <thead>
            <tr>
                <th>Сырье</th>
                <th>Количество</th>
                <th>Действия</th>
            </tr>
        </thead>
    
        {% if selected_product %}
    
        <tbody>
            {% for ingredient in ingredients %}
                <tr>
                    <td>{{ ingredient.1 }}</td>
                    <td>{{ ingredient.2 }}</td>
                    <td><a href="{% url 'ingredients:delete' ingredient.0 %}">Удалить</a> | <a href="{% url 'ingredients:update' ingredient.0 %}">Редактировать</a></td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
    
    <div>
        <strong>
            <a href="{% url 'ingredients:create' %}">Создать новую запись</a>
        </strong>
    </div>

    {% endif %}

    <script>
        const selectElement = document.getElementById('product');

        selectElement.addEventListener('change', function() {
            var formElement = document.getElementById('ingredients-form');
            formElement.submit();
        });
    </script>

</div>
{% endblock %}