{% extends 'base.html' %}

{% include 'navigation-bar.html' %}

{% block body %}
    <div>
        <h1>Кредиты и платежи</h1>
    
        <form method="POST" id="credit-form">
            {% csrf_token %}
            <label for="credit">Выберите кредит</label>
        
            <select name="credit" id="credit">
                <option value="" {% if not credit_id %} selected {% endif %} disabled>Выберите кредит</option>
            
            {% for credit in credit_list %}
                <option value="{{ credit.0 }}" {% if credit.0 == credit_id %}selected{% endif %}>
                    {{ credit.6 }}
                </option>
            {% endfor %}
            
            </select>
        </form>
    
        <h2>Платежи по кредиту</h2>
    
        {% include 'bank/payments-table.html' %}

        <strong>
            <a href="{% url 'bank:new-credit' %}">Взять кредит</a>
            {% if credit_id %} {# Если кредит выбран #}
                <a href="{% url 'bank:create-payment' %}">Добавить выплату</a>
            {% endif %}
            <a href="{% url 'bank:report' %}">Отчет</a>
        </strong>
    
        <script>
            const selectElement = document.getElementById('credit');
    
            selectElement.addEventListener('change', function() {
                var formElement = document.getElementById('credit-form');
                formElement.submit();
            });
        
        </script>
    
    </div>
{% endblock %}