{% extends 'base.html' %}

{% include 'navigation-bar.html' %}

{% block body %}
    <div>
        <h1>Кредиты и платежи</h1>
    
        <form method="POST" id="credit-form">
            {% csrf_token %}
            <label for="credit">Выберите кредит</label>
        
            <select name="credit" id="credit">
                <option value="" {% if not credit_id %} selected {% endif %} disabled>Выберите кредит</option>
            
            {% for credit in credit_list %}
                <option value="{{ credit.0 }}" {% if credit.0 == credit_id %}selected{% endif %}>
                    {{ credit.6 }}
                </option>
            {% endfor %}
            
            </select>
        </form>
    
        <h2>Платежи по кредиту</h2>
    
        <table>
            <thead>
                <tr>
                    <th>Дата</th>
                    <th>Основная сумма</th>
                    <th>Процент</th>
                    <th>Общая сумма</th>
                    <th>Просрочено дней</th>
                    <th>Пени</th>
                    <th>Итого</th>
                    <th>Остаток</th>
                </tr>
            </thead>
        
    
            <tbody>
                {% for payment in payments %}
                    <tr>
                        <td>{{ payment.2 }}</td>
                        <td>{{ payment.3 }}</td>
                        <td>{{ payment.4 }}</td>
                        <td>{{ payment.5 }}</td>
                        <td>{{ payment.6 }}</td>
                        <td>{{ payment.7 }}</td>
                        <td>{{ payment.8 }}</td>
                        <td>{{ payment.9 }}</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>

        <strong>
            <a href="{% url 'bank:new-credit' %}">Взять кредит</a>
            {% if credit_id %} {# Если кредит выбран #}
                <a href="{% url 'bank:create-payment' %}">Добавить выплату</a>
            {% endif %}
        </strong>
    
        <script>
            const selectElement = document.getElementById('credit');
    
            selectElement.addEventListener('change', function() {
                var formElement = document.getElementById('credit-form');
                formElement.submit();
            });
        
        </script>
    
    </div>
{% endblock %}